/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    -fx-background-image:url('../search/background.png');
    -fx-background-size: cover;
}
.btn{
    -fx-background-color:  #005DA6;
    -fx-cursor: hand;
}
.btn:hover{
    -fx-background-color: black;
}
